.idea
vendor
venv
*.pyc
*/**/__pycache__/*
/.infraestructure/.terraform/
/dist/
/.infraestructure/.terraform.lock.hcl
/.infraestructure/terraform.tfstate
/.infraestructure/terraform.tfstate.backup
/.chalice/deployments/
