.idea
venv
*.pyc
*/__pycache__/*
*/**/__pycache__/*
/.infraestructure/.terraform/
/dist/
/.infraestructure/.terraform.lock.hcl
/.infraestructure/terraform.tfstate
/.infraestructure/terraform.tfstate.backup
/.chalice/deployments/
/target/unit/coverage_html/*
/.coverage
/target/unit/report.xml
/target/unit/clover.xml
sam.json
deployment.zip
/packaged.yml

# mantem a vendor
!vendor
# ignora os demais arquivos
vendor/*
# mantem essa pasta
!/vendor/public
!/vendor/datasources
/docker/aws/credentials
/target/dynamodb-local.tgz
/target/dynamodb-local/
