components:
  schemas:
    Alive:
      properties:
        app:
          example: I'm alive!
          type: string
      type: object
    Link:
      properties:
        href:
          type: string
        method:
          type: string
        rel:
          type: string
      type: object
    Meta:
      properties:
        first:
          format: url
          type: string
        href:
          format: url
          type: string
        last:
          format: url
          type: string
        next:
          format: url
          type: string
        previous:
          format: url
          type: string
      type: object
    Ping:
      properties:
        message:
          example: PONG
          type: string
      type: object
    RequestControl:
      properties:
        count:
          type: integer
        limit:
          type: integer
        offset:
          type: integer
        total:
          type: integer
      required:
      - limit
      type: object
    StandardUpdates:
      properties:
        description:
          type: string
        identification:
          example: ISO 9001:2015
          type: string
        link:
          format: url
          type: string
        publication_date:
          format: date
          type: string
        synchronized:
          type: boolean
        title:
          type: string
        uuid:
          format: uuid
          type: string
      type: object
    StandardUpdatesGetResponse:
      properties:
        control:
          $ref: '#/components/schemas/RequestControl'
        data:
          $ref: '#/components/schemas/StandardUpdates'
        links:
          items:
            $ref: '#/components/schemas/Link'
          type: array
        meta:
          $ref: '#/components/schemas/Meta'
      type: object
    StandardUpdatesListResponse:
      properties:
        control:
          $ref: '#/components/schemas/RequestControl'
        data:
          items:
            $ref: '#/components/schemas/StandardUpdates'
          type: array
        links:
          items:
            $ref: '#/components/schemas/Link'
          type: array
        meta:
          $ref: '#/components/schemas/Meta'
      type: object
    UpdatesCheckResponse:
      properties:
        control:
          $ref: '#/components/schemas/RequestControl'
        data:
          items:
            $ref: '#/components/schemas/StandardUpdates'
          type: array
        links:
          items:
            $ref: '#/components/schemas/Link'
          type: array
        meta:
          $ref: '#/components/schemas/Meta'
      type: object
    UpdatesSyncResponse:
      properties:
        control:
          $ref: '#/components/schemas/RequestControl'
        data:
          items:
            $ref: '#/components/schemas/StandardUpdates'
          type: array
        links:
          items:
            $ref: '#/components/schemas/Link'
          type: array
        meta:
          $ref: '#/components/schemas/Meta'
      type: object
info:
  title: standard-update-checker
  version: 1.0.0
openapi: 3.0.2
paths:
  /alive:
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Alive'
          description: Success response
      summary: Service Health Method
  /ping:
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ping'
          description: Success response
      summary: Ping method
  /v1/updates/check:
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatesCheckResponse'
          description: Success response
      summary: Check for updates
  /v1/updates/sync:
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatesSyncResponse'
          description: Success response
      summary: Synchronize the updates
  /v1/updates:
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardUpdatesListResponse'
          description: Success response
      summary: List the updates
  /v1/updates/{uuid}:
    get:
      parameters:
      - description: Standard Update uuid
        in: path
        name: uuid
        required: true
        schema:
          format: UUID
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardUpdatesGetResponse'
          description: Success response
      summary: Get Standard Update
servers:
- description: Production server
  url: https://services.hagatus.com.br/sigo-standard-update-checker
- description: Development server
  url: http://localhost:8000
